.p {
  color:blue;
}

.container {
  margin: 0 auto;
  margin-top:12%;
  text-align:center;
}
.row {
  text-align:center;
  margin-bottom:30px;
}

#weather {
  color:blue;
  float:left;
}

#marine {
  color:blue;    
}

#jumbotron {
  text-align: center;
}
#jumbotron h2 {
  font-size: 6.000em;
  line-height: 1;
  color:blue;
}

#img-container {
  display: block;
  position: absolute;     
  width: 100%;
  background-image:url('../img/sthlm_water_bg.jpg');    
  margin: 0 auto;
  height:100%;
/*  background-size: 100%;*/
}

#directions-panel {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color:rgba(255, 255, 255,0.5);    
}