.p {
  color:black;
}

.container {
  margin: 0 auto;
  margin-top:14%;
  text-align:center;
}
.row {
  text-align:center;
  margin-bottom:30px;
}

#jumbotron {
  text-align: center;
}
#jumbotron h2 {
  font-size: 6.000em;
  line-height: 1;
  color:black;
}

#img-container {
  display: block;
  position: absolute;     
  width: 100%;
  background-image:url('../img/sthlm_water_bg.jpg');
  /*background-image:url('http://pbs.twimg.com/media/BWJgBZdIgAA1Qd2.jpg');*/    
  margin: 0 auto;
  height:100%;
  /*background-size: 100%;*/    
}